<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Excluir Computadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item *ngFor="let componente of componentes; let i = index">
        {{ componente.categoria }}
        <ion-button slot="end" (click)="excluirItem(i)" fill="outline" color="danger">Excluir</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

<ion-button (click)="voltar()" fill="outline" color="primary" >voltar</ion-button>